In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'poblacion_global_2020.csv'

# Ejercicio

Examina detenidamente el siguiente dataset y responde las siguientes preguntas:

* ¿Porqué cumple con las condiciones de Tidy Data?
Cada fila en una tabla es una observación y cada columna es una característica de dicha información.
* ¿Cuál es el data point principal y cual es la meta data?
Data point: País
Meta data: Poblacion, densidad, territorio, tasa migración, Tasa fertilidad, Edad promedio, poblacion urbaba
* Si quisieramos saber más sobre los niveles educativos gobales ¿Qué otras características necesitariamos para este data set?
Medias fracaso escolar de cada pais, nº de universitarios,...
* ¿Qué tipo de análisis harías con este data set?
Análisis descriptivo

In [22]:
df = pd.read_csv(path)

df.head()

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba
0,China,1440297825,153,9388211,-348399.0,1.7,38,61 %
1,India,1382345085,464,2973190,-532687.0,2.2,28,35 %
2,Estados Unidos,331341050,36,9147420,954806.0,1.8,38,83 %
3,Indonesia,274021604,151,1811570,-98955.0,2.3,30,56 %
4,Pakistán,221612785,287,770880,-233379.0,3.6,23,35 %

# Ejercicios:

Manipula el dataset, de manera que respondas las siguientes preguntas:

1. ¿Cual es el promedio de Tasa de Fertilidad global?
2.693035
2. ¿Que país tiene la Edad Promedio más alta y cual la más baja?
3. Agrupa los países por continente y obtén la mediana de la población urbana
4. ¿Qué otro de cálculo de interés (usando estas variables) crees pertinente para comparar la calidad de vida a nivel global? ¿Porqué?

In [23]:
df = df.dropna()
df['Tasa Fertilidad'] = df['Tasa Fertilidad'].astype(float)

In [24]:
df.describe()

,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad
count,2.010000e+02,201.000000,2.010000e+02,201.000000,201.000000
mean,3.884236e+07,358.626866,6.450903e+05,6.283582,2.693035
std,1.456029e+08,1710.115498,1.809408e+06,123291.887548,1.264496
min,9.806900e+04,2.000000,3.000000e+01,-653249.000000,1.100000
25%,1.882408e+06,34.000000,2.164000e+04,-10047.000000,1.700000
50%,8.665615e+06,89.000000,1.085600e+05,-852.000000,2.300000
75%,2.780840e+07,226.000000,4.988000e+05,9741.000000,3.600000
max,1.440298e+09,21645.000000,1.637687e+07,954806.000000,7.000000

In [28]:
df['Edad Promedio']

0      38
1      28
2      38
3      30
4      23
       ..
196    41
197    22
198    43
199    34
200    34
Name: Edad Promedio, Length: 201, dtype: object